{% extends "base.html" %}
{% load static %}
{% load i18n %}


{% block content %}

    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Changed Password Successfully</h1>
                <p class="lead fw-normal text-white-50 mb-0">Python Standart Backend Django FN6 Ecommerce</p>
            </div>
        </div>
    </header>
    <div class="card my-5 mx-auto" style="width: 18rem;">
        <img src="{% static 'assets/changed_pswd.png' %}" class="card-img-top" alt="...">
        <div class="card-body d-flex justify-content-around">
            <a href="{% url 'index' %}" class="btn btn-primary">Go Back Home</a>
            <a href="{% url 'login' %}" class="btn btn-primary">Go Login</a>
        </div>
    </div>

{% endblock %}
