{% extends "base.html" %}
{% load static %}

{% block content %}

    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.image_url}}" alt="..." /></div>
                <div class="col-md-6">
                    {% if product.is_sale %}
                        <p class="mb-1 text-warning">Sale</p>
                    {% endif %}
                    {% if product.is_top %}
                        <div class="d-flex small text-warning mb-2">
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                            <div class="bi-star-fill"></div>
                        </div>
                    {% endif %}
                    <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                    <div class="fs-5 mb-5">
                        {% if product.sale_price %}
                            <span class="text-decoration-line-through">{{product.sale_price}}</span>
                        {% endif %}
                        <pre>{{product.price}}</pre>
                    </div>
                    <p class="lead">{{product.description}}</p>
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" min="1" style="max-width: 4rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" value="{{product.id}}" id="add-cart" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                        <a type="button" data-index="{{product.id}}" class="btn btn-dark mx-2" href="{% url 'index' %}">Go Back</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


<script>
    $(document).on('click', '#add-cart', function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: "{% url 'cart:cart_add' %}",
            data: {
                product_id: $('#add-cart').val(),
                prod_count: $('#inputQuantity').val(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: 'post',
            },
            success: function(json){
                document.getElementById('cart_items').textContent = json.cart_items
            },
            error: function(xhr, err_msg, err){
            
            }
        });
    });
</script>

{% endblock content %}